package partials

templ Footer() {
	<footer class="bg-green-700 min-h-10 flex justify-center items-center text-white text-xs">
		<p x-data="{ year: new Date().getFullYear() }">© <span x-text="year"></span> Event Hub</p>
	</footer>
}
