services:
  server:
    image: sfdeloach/event-hub-server-dev:0.0.0
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    restart: unless-stopped
    tty: true
    ports:
      - "7331:7331"
    volumes:
      - ./server:/server   # All other source code located on host
      - /server/static/css # TailwindCSS output directory located in container
