package views

import "server/views/layouts"

templ EventsContent() {
	<h1 class="text-5xl font-bold text-lime-600">
		Welcome to the events route...
	</h1>
}

templ Events() {
	@layouts.MainLayout() {
		@EventsContent()
	}
}
