package views

import "server/views/layouts"

// for htmx requests
templ HomeContent() {
	<h1>
		Welcome to the home route...
	</h1>
}

// for full page requests
templ Home() {
	@layouts.MainLayout() {
		@HomeContent()
	}
}
