package views

import "server/views/layouts"

templ IndexContent() {
	<h1 class="text-5xl font-bold text-lime-600">
		Welcome to the index route...
	</h1>
}

templ Index() {
	@layouts.MainLayout() {
		@IndexContent()
	}
}
