package views

import "server/views/layouts"

// for htmx requests
templ IndexContent() {
	<h1>
		Welcome to the index route...
	</h1>
}

// for full page requests
templ Index() {
	@layouts.MainLayout() {
		@IndexContent()
	}
}
