package views

import "server/views/layouts"

templ Index() {
	@layouts.MainLayout() {
		<div class="mt-8 mx-1">
			<h1 class="text-5xl font-bold text-lime-600">Welcome to the index route...</h1>
		</div>
	}
}
