package views

import "server/views/layouts"

// for htmx requests
templ LoginContent() {
	<h1>
		Welcome to the login route...
	</h1>
}

// for full page requests
templ Login() {
	@layouts.MainLayout() {
		@LoginContent()
	}
}
