/**
  * Tailwind CSS input file
  */

@import "tailwindcss";
@source "./views";

@layer base {
  /* containers ***********************/
  body {
    @apply flex min-h-screen flex-col;
    @apply bg-[url(/static/main.webp)] bg-cover bg-fixed bg-center;
  }

  main {
    @apply grow p-2;
  }

  .glass-panel {
    @apply mx-auto mb-2 w-full rounded-md px-1 py-2 backdrop-blur-xl backdrop-brightness-125 md:w-2/3 md:p-4 lg:w-1/2 lg:p-6 xl:w-1/3 xl:p-8;
  }

  /* typography ***********************/
  h1 {
    @apply mb-2 text-2xl font-bold text-blue-900;
  }

  h2 {
    @apply mb-1 text-lg font-semibold text-blue-900;
  }

  /* forms ****************************/
  form {
    @apply flex flex-col;
  }

  input,
  textarea,
  select {
    @apply mb-2 rounded-md border border-zinc-400 bg-white p-2;
  }

  label {
    @apply font-medium text-zinc-800;
  }

  /* buttons **************************/
  button {
    @apply rounded-md border border-lime-300 bg-lime-200 p-4 font-medium text-blue-900 hover:bg-lime-300;
  }

  .btn-link {
    @apply my-1 p-1 text-blue-800 hover:text-blue-600;
  }

  .btn-link::before {
    content: "> ";
  }
}
